<mat-toolbar color="primary">
    <div style = "position:relative; right:8px;">
    <a mat-button routerLink="homepage">Heap Underflow</a></div>

    <div class="spacer"></div>

    <a routerLink="homepage">
    <div style = "position:relative; right:8px; top:4px;">
        <div class="home">
        <mat-icon color="accent">home</mat-icon>
          <span class="cdk-visually-hidden">
          </span>
      </div>
    </div>
</a>

    <a mat-button routerLink="createpost">Create Post</a>
    <a mat-button routerLink="about">About the Team</a>
    <ng-container *ngIf = "auth.userData.userToken != null">
        <a  mat-raised-button color="accent" (click) = "auth.logout()">Log out</a>
    </ng-container>
    <ng-container *ngIf = "auth.userData.userToken == null" >
         <a mat-raised-button color="accent" (click) = "auth.login()">Log in with Google</a>
    </ng-container>

</mat-toolbar>