<p></p>
       <h1>Welcome to Heap Underflow! If you have any questions, ask!</h1>
       <hr class="solid">
       <p></p>
<p>
       <label for="name">Search: </label>
       <input type="text" id="name" name="name" required
       minlength="1" maxlength="100" size="15">
<div class="button" style="position:relative; left:15px;">
       <button mat-raised-button color="accent">Enter</button>
</div>
<ul>
       <div style="position:relative; right:10px;">
       <li *ngFor="let post of posts">
         <p>User: {{ post.author?.name }}</p>
         <p>Content: {{post.content}}</p>
       </li>
</div>
</ul>