<p>Welcome to Heap Underflow! If you have any questions, ask!</p>

<label for="name">Search: </label>

<input type="text" id="name" name="name" required
       minlength="1" maxlength="100" size="15">

<mat-divider></mat-divider>
       <section>
       <div class="enter-button"></div>
       <div class="button">
              <button mat-raised-button color="accent">Enter</button>
       </div>
       </section>
<mat-divider></mat-divider>

<ul>
       <li *ngFor="let post of posts">
         <h2>User: {{ post.author?.name }}</h2>
         <h2>Content: {{post.content}}</h2>
       </li>
</ul>