<p>Welcome to Heap Underflow! If you have any questions, ask!</p>

<label for="name">Search: </label>

<input type="text" id="name" name="name" required
       minlength="1" maxlength="100" size="15">

<mat-divider></mat-divider>
       <section>
       <div class="enter-button"></div>
       <div class="button">
              <button mat-raised-button color="accent">Enter</button>
       </div>
       </section>
<mat-divider></mat-divider>


<mat-card *ngFor = "let post of posts; let i = index" class="post-box" (click) = "openDialog(i)">
       <mat-card-header class = "post-header post-box-title">
              <mat-card-title>{{post.title}}</mat-card-title>
              <mat-card-subtitle>by {{post.author?.name}}</mat-card-subtitle>
       </mat-card-header>
       <!-- <mat-card-content class="post-box-content">
              <p>
              {{post.content}}}
              </p>
       </mat-card-content> -->
       <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>COMMENT</button>
       </mat-card-actions>
       <mat-card-content>
              {{post.points}} likes
       </mat-card-content>
</mat-card>
